/* 代码整理：懒人之家 www.lanrenzhijia.com */
* {
	margin:0;
	padding:0;
}
body {
	background: #000;
}
#lanrenzhijia {
	position:relative;
	width:500px;
	height:500px;
	margin:0 auto;
}
#lanrenzhijia a {
	position:absolute;
	top:0px;
	left:0px;
                font-size: 30px;
	font-family: Microsoft YaHei;
	color:#000000;
	font-weight:bold;
	text-decoration:none;
	padding: 50px 100px;
}
#lanrenzhijia a:hover {
	border: 1px solid #eee;
	background: #fff;
}
#lanrenzhijia .blue {
	color:blue;
}
#lanrenzhijia .red {
	color:red;
}
#lanrenzhijia .yellow {
	color:yellow;
}
p {
	font: 10px Microsoft YaHei;
	text-align: center;
	color: #ba0c0c;
}
p a {
	color: #ba0c0c;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */